language: php
php:
  - 7.2
  - 7.1
  - 7.0
  - 5.6
  - 5.5
  - 5.4
  - nightly

matrix:
  allow_failures:
    - php: nightly

install:
  - composer install

script:
  - vendor/bin/phpcs --config-set installed_paths $TRAVIS_BUILD_DIR/vendor/wp-coding-standards/wpcs
  - vendor/bin/phpcs --standard=TechInAsia --extensions=php --ignore="*/vendor/*" . -ps
  - find . "(" -name "*.php" ")" -exec php --syntax-check --file "{}" ";"

notifications:
  email: false
