<?xml version="1.0"?>
<!--
	Identical to phpunit.xml.dist apart from WP_MULTISITE. The WordPress test
	bootstrap reads that variable from the environment, so setting it here means
	`vendor/bin/phpunit -c phpunit-multisite.xml.dist` is the whole command --
	no wrapper shell needed locally or in CI.
-->
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	failOnWarning="true"
	failOnRisky="true"
	>
	<php>
		<env name="WP_MULTISITE" value="1"/>
	</php>
	<testsuites>
		<testsuite name="wp-sweep (multisite)">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./includes</directory>
			<file>./wp-sweep.php</file>
			<file>./uninstall.php</file>
		</include>
	</coverage>
</phpunit>
